<!-- independent_plan_app/templates/independent_plan_app/index.html -->

{% extends "independent_plan/base.html" %}
{% load static %} {% block content %}


<div class="container" style="padding-top:112px;">
    {% for cat_block in categories %}
    <article class="article">
        <div class="detail">
        </div>
        <a href="{% url 'independent_plan_app:category' category=cat_block.category.category %}">
            <h1>{{ cat_block.category.category }}</h1>
        </a>
        {% for sub_cat in cat_block.sub_categories %}
        <a href="{% url 'independent_plan_app:subcategory' category=cat_block.category.category subcategory=sub_cat.category %}">
            <h2>---{{ sub_cat.category }}</h2>
        </a>

        {% endfor %}
    </article>
    {% endfor %}
</div>

{% endblock %}